<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Cloom</string>
    <key>CFBundleDisplayName</key>
    <string>Cloom</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>1.0.1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
            </array>
            <key>CFBundleURLName</key>
            <string>Google Sign-In OAuth</string>
        </dict>
    </array>
    <key>SUFeedURL</key>
    <string>https://iamsachin.github.io/cloom/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>dDOHwPHivYqR321gT2rJqyjCtkywmsc21FrJgMH47VY=</string>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Cloom needs screen recording access to capture your screen.</string>
    <key>NSCameraUsageDescription</key>
    <string>Cloom needs camera access for webcam recording.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Cloom needs microphone access to record audio.</string>
</dict>
</plist>
